.passwordContainer{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.passwordContainer input{
    padding: 10px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    
}
.passwordContainer button{
    padding: 10px;
    background-color: aquamarine;
    cursor: pointer;
}

.inputCover {
    position: relative;
}

.tempCOver {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    border: 1px solid #000;
    border-right-width: 4px;
    border-right-color: #06dd06;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
}